<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Query</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
      .container {
        padding: 2rem 0rem;
      }
      h4 {
        margin: 2rem 0rem 1rem;
      }
      #query_button {
        padding: 0rem 2rem;
      }

      .form-control:focus{
        box-shadow: 10px 10px 100px;
      }
      #feature {
        padding: 5px 0;
      }
    </style>
  </head>
  <body>

    <div class="container">
      Query: {{query}} <br /><br />
      <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
              <input id="query_from_url" name="query_from_url" type="text" class="form-control" placeholder="Search Here" aria-label="Search Here">
              <div class="input-group-append">
                <button onclick="passQuery()" class="btn btn-primary btn-sm" type="button" id="query_button">Query</button>
              </div>
            </div>
            <select class="" name="feature" id="feature">
              <option class="" value="0">Raw</option>
              <option class="" value="1">Jaccard Distance</option>
              <option class="" value="2">Edit Distance</option>
              <option class="" value="3">Thesauras</option>
            </select>
        </div>
      </div>
      <br /><br />
      <h1>Ranked Documents</h1>
      {% for doc in ranked_documents.DOCUMENT.values %}
        <p>{{forloop.counter}}. {{doc}}</p>
      {% endfor %}
    </div>
    <br /><br />




    <script>
      function passQuery() {
        q = document.getElementById("query_from_url").value;
        console.log(q);
        q = String(q).replace("?", " ");


        let route = "/query/" + q;

        feature = document.getElementById("feature").value;
        if (feature == "1") {
          route = "/jd_query/" + q;
        } else if (feature == "2") {
          route = "/ed_query/" + q;
        } else if (feature == "3") {
          route = "/t_query/" + q;
        }

        location.replace(route);
      }
    </script>

  </body>
</html>
